@import '../../../scss-base/src/index';

:root {
  --font-primary: 'Petrona', serif;
}


html, body {
  height: 100%;
}

body {
  font-family: var(--font-primary);

  &.main-layout {
    display: flex;
    flex-direction: column;

    & main {
      flex: 1;
    }
  }
}

.f {
  font-size: 14px;
}